<div class="w-full bg-white p-4 sm:p-6 rounded-xl shadow-xl">
  <h2 class="text-lg sm:text-xl font-bold mb-4 sm:mb-6">
    {{ 'CONFIRMATION.TOTAL_PAYMENT.TITLE' | translate }}
  </h2>

  <div class="space-y-4">
    <div class="flex justify-between">
      <span class="font-semibold text-sm sm:text-base">{{ 'CONFIRMATION.TOTAL_PAYMENT.NAME' | translate }}</span>
      <span class="text-sm sm:text-base">{{ name }}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold text-sm sm:text-base">{{ 'CONFIRMATION.TOTAL_PAYMENT.DATE' | translate }}</span>
      <span class="text-sm sm:text-base">{{ date }}</span>
    </div>

    <hr class="border-gray-300">

    <div class="flex justify-between">
      <span class="font-semibold text-sm sm:text-base">{{ 'CONFIRMATION.TOTAL_PAYMENT.INVOICE' | translate }}</span>
      <span class="text-sm sm:text-base">{{ invoice }}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold text-sm sm:text-base">{{ 'CONFIRMATION.TOTAL_PAYMENT.DISCOUNT' | translate }}</span>
      <span class="text-yellow-500 text-sm sm:text-base">{{ discount }}</span>
    </div>

    <hr class="border-gray-300">

    <div class="flex justify-between">
      <span class="font-semibold text-base sm:text-lg">{{ 'CONFIRMATION.TOTAL_PAYMENT.TOTAL' | translate }}</span>
      <span class="text-green-600 text-base sm:text-lg font-semibold">{{ total }}</span>
    </div>
  </div>
</div>
