<header class="bg-white shadow-md border-b px-4 md:px-header-x py-2 flex justify-between items-center">
  <!-- Logo -->
  <div>
    <img src="assets/images/Logo1.png" alt="Logo" class="h-12">
  </div>

  <!-- Desktop Menu -->
  <div class="hidden md:flex items-center space-x-4 relative">
    <button class="btn-yellow" routerLink="/get-quote">{{ 'BUY_POLICY' | translate }}</button>
  <button class="btn-purple" (click)="goToWallet()">{{ 'MY_WALLET' | translate }}</button>

    
    <!-- Language dropdown -->
    <div class="relative">
      <span
        class="material-icons-outlined text-2xl text-gray-custom hover:text-primary-purple cursor-pointer"
        (click)="toggleLangDropdown()"
      >
        language
      </span>

      <div
        *ngIf="langDropdownOpen"
        class="absolute right-0 mt-2 w-32 bg-white border rounded shadow-md z-50"
      >
        <button
          class="block w-full text-left px-4 py-2 hover:bg-gray-100"
          (click)="switchLang('en')"
        >
          English
        </button>
        <button
          class="block w-full text-left px-4 py-2 hover:bg-gray-100"
          (click)="switchLang('km')"
        >
          Khmer
        </button>
      </div>
    </div>

    <button class="btn-white" routerLink="/login">{{ 'LOGIN' | translate }}</button>
  </div>

  <!-- Mobile Hamburger -->
  <div class="md:hidden flex items-center relative">
    <button id="mobile-menu-button" class="material-icons-outlined text-3xl text-gray-custom">
      menu
    </button>

    <!-- Mobile language dropdown -->
    <div class="relative ml-2">
      <span
        class="material-icons-outlined text-2xl text-gray-custom hover:text-primary-purple cursor-pointer"
        (click)="toggleLangDropdown()"
      >
        language
      </span>

      <div
        *ngIf="langDropdownOpen"
        class="absolute right-0 mt-2 w-32 bg-white border rounded shadow-md z-50"
      >
        <button
          class="block w-full text-left px-4 py-2 hover:bg-gray-100"
          (click)="switchLang('en')"
        >
          English
        </button>
        <button
          class="block w-full text-left px-4 py-2 hover:bg-gray-100"
          (click)="switchLang('km')"
        >
          Khmer
        </button>
      </div>
    </div>
  </div>
</header>
