<div class="p-5 ml-9">
  <!-- Container -->
  <div
    class=""
  >
    <!-- Heading -->
    <h2 class="text-2xl text-black-500">We Accept</h2>

    <!-- Card Logos -->
    <div
      class="flex flex-wrap  items-center  md:gap-2 w-full"
    >
      <!-- Visa -->
      <img
        src="assets/images/visa.png"
        alt="Visa"
        class="h-16 w-auto object-contain"
      />

      <!-- Mastercard -->
      <img
        src="assets/images/master.png"
        alt="Mastercard"
        class="h-16 w-auto object-contain"
      />

      <!-- American Express -->
      <img
        src="assets/images/express.png"
        alt="American Express"
        class="h-16 w-auto object-contain"
      />

      <!-- JCB -->
      <img
        src="assets/images/jcb.png"
        alt="JCB"
        class="h-16 w-auto object-contain"
      />

      <!-- JCB -->
      <img
        src="assets/images/union.png"
        alt="JCB"
        class="h-16 w-auto object-contain"
      />
    </div>

    <!-- Footer -->
    <footer class="">
      <p class="text-black-500 ">
        Copyright © 2025 Dai-ichi Life Insurance (Cambodia) PLC. 
        All rights reserved.
      </p>
    </footer>
  </div>
</div>
